body {
    font-family: Arial, sans-serif;
    background-color: bisque;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

.ingredients-list {
    list-style: square inside;
}

.directions-list {
    list-style: decimal inside;
}

header > img {
    width: 100px;
}

.anchor > li > a {
    color: inherit;
    text-decoration: none;
}

.every_other {
    background-color: lightgray;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input[type='radio'] {
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    width: 25px;
    height: 25px;
    vertical-align: sub;
    background-image: url(../assets/stars.png);
}

input[type='radio']:hover {
    background-position: center;
}

input[type='radio']:checked {
    background-position: bottom;
}

input[type='submit'] { /* can combine submit radio and select*/
    cursor: pointer;
    outline: none;
}
/*
input[type=radio], select, submit {
    cursor: pointer;
    outline: none;
}
*/

input:last-child {
    background-color: gold;
}

input:last-child:hover {
    -webkit-filter: brightness(90%);
}

select {
    cursor: pointer;
    outline: none;
}

h2+.user_review {
    border-top: 1px, solid, black;
}

